body {
  margin: 0;
  background-image: url(../src/logo/mobile_bg.png);
  background-repeat: no-repeat;
  background-position: 0% 4rem;
  background-size: 100%;
}

.main-website-container {
  margin-top: 70px;
  width: 100%;
}

#home-page {
  display: flex;
  flex-flow: column;
  margin: 7% 7% 0 7%;
  font-family: 'Lato', sans-serif;
}

.main-titling {
  margin: 50px 0 15px 0;
  font-size: 35px;
  font-weight: bolder;
  color: transparent;
  -webkit-background-clip: text;
  background-image: url(../src/logo/clipart.png);
}

.main-description {
  color: #272a31;
}

.main-description > p {
  margin: 0 0 0 5%;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 20px;
  font-weight: 400;
  color: #272a31;
}

.due-date > h1 {
  font-size: 20px;
  font-weight: bolder;
}

.due-date > h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 50px 4%;
}

@media (min-width: 768px) {
  .main-website-container {
    margin-top: 75px;
  }

  #home-page {
    margin-bottom: 100px;
  }

  .main-titling {
    margin: 50px 40% 15px 0;
    font-size: 60px;
    background-image: url(../src/logo/clipart1.png);
  }

  .main-description > p {
    margin: 0 45% 0 5%;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 22px;
    background-color: white;
  }

  .due-date {
    margin-bottom: 5%;
  }

  body {
    background-image: url(../src/logo/pc_bg.png), url(../src/logo/bg-gif.gif);
    background-position: 0% 4rem, 100% 8rem;
    background-size: 100%, 50%;
  }
}
