@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 0;
  left: 0;
  font-family: 'lato', sans-serif;
}

.navbar-desktop-only {
  height: 25px;
  background-color: #272a31;
  font-size: 12px;
}

.navbar-desktop-only > ul {
  display: flex;
  height: inherit;
  margin: 0;
  align-items: center;
  flex-direction: row-reverse;
  margin-right: 8.3%;
}

.navbar-desktop-only > ul > li {
  margin-right: 2%;
}

.navbar-desktop-only > ul > li > a {
  color: rgb(255, 255, 255);
}

.navbar-desktop-only > ul > li > a > img {
  width: 60%;
  margin-top: 4px;
}

.main-navbar {
  box-shadow: 0 4px 2px -2px rgba(187, 187, 187, 0.37);
}

.main-navbar > div {
  height: 50px;
  background-color: white;
  margin: 0 10% 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  width: 40%;
}

.navbar-items {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.navbar-items > li > a:not(.about-nav-link) {
  color: #86888b;
}

.navbar-items > li > a:not(.about-nav-link):active,
.navbar-items > li > a:not(.about-nav-link):target,
.navbar-items > li > a:not(.about-nav-link):focus,
.navbar-items > li > a:not(.about-nav-link):hover {
  color: #272a31;
}

.main-navbar > div > a {
  color: #86888b;
}

.about-nav-link {
  color: #ec5242;
}

.about-nav-link:active,
.about-nav-link:target,
.about-nav-link:focus,
.about-nav-link:hover {
  color: #f00;
}
